<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 margin30">
				<div class="footer-col">
					<h3>About LatinCMS</h3>
					<p>Sistema de Administraci&oacute;n de Contenidos para LatinNet SA</p>
					<ul class="list-inline social-1">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
			<!--footer col-->
			<div class="col-md-3 col-sm-6 margin30">
				<div class="footer-col">
					<h3>Contacto</h3>
					<ul class="list-unstyled contact">
						<li><p>
								<strong><i class="fa fa-map-marker"></i> Direcci&oacute;n:</strong>
								Florida 1 piso 10 oficina 30
							</p></li>
						<li><p>
								<strong><i class="fa fa-envelope"></i> Mail:</strong> <a
									href="#">soporte@latinnet.com.ar</a>
							</p></li>
						<li>
							<p>
								<strong><i class="fa fa-phone"></i> Phone:</strong> +54 11 0000 0000
							</p>
						</li>
						<li>
							<p>
								<strong><i class="fa fa-print"></i> Fax</strong> 0000 0000
							</p>
						</li>
						<li>
							<p>
								<strong><i class="fa fa-skype"></i> Skype</strong> latinnet2015
							</p>
						</li>

					</ul>
				</div>
			</div>
			<!--footer col-->
			<div class="col-md-3 col-sm-6 margin30">
				<div class="footer-col">
				</div>
			</div>
			<!--footer col-->
			<div class="col-md-3 col-sm-6 margin30">
				<div class="footer-col">
					<h3>Newsletter</h3>
					<p>Subscr&iacute;base para recibir nuestro newsletter</p>
					<form role="form" class="subscribe-form">
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Ingrese el email para suscribirse"> <span
								class="input-group-btn">
								<button class="btn  btn-theme-dark btn-lg" type="submit">Ok</button>
							</span>
						</div>
					</form>
				</div>
			</div>
			<!--footer col-->

		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="footer-btm">
					<span>©2015. LatinCMS - Alejandro S&aacute;nchez</span>
				</div>
			</div>
		</div>
	</div>
</footer>
{# <footer>#} {# <div class="row widewrapper copyright">#} {# <div
class="col-lg-12">#} {# <p>Copyright © LatinCMS 2015</p>#} {# </div>#}
{# </div>#} {# </footer>#}
