<!DOCTYPE html>
<html ng-app="latinCMS">
	<head>
		<title>LatinCMS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="content-language" content="es">
		<meta name="robots" content="INDEX, FOLLOW">
		<meta charset="UTF-8">
		
		<link rel="stylesheet" href="resources/stylesheets/bootstrap.min.css" media="screen">
		<link rel="stylesheet" href="resources/stylesheets/font-awesome.min.css" media="screen">
		<link rel="stylesheet" href="resources/stylesheets/angular-ui-tree.min.css" media="screen">
	</head>

	{% block additionalStylesheets %}{% endblock %}
	
	<body>
		{% block body %}{% endblock %}
		
		<script type="text/javascript" src="resources/scripts/lib/angular.js"></script>
		<script type="text/javascript" src="resources/scripts/lib/angular-route.min.js"></script>
		<script type="text/javascript" src="resources/scripts/lib/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="resources/scripts/lib/angular-animate.min.js"></script>
		<script type="text/javascript" src="resources/scripts/lib/angular-ui-tree.min.js"></script>
		<script type="text/javascript" src="resources/scripts/lib/ui-bootstrap-tpls-0.13.0.min.js"></script>
		<script type="text/javascript" src="resources/scripts/lib/smart-table.min.js"></script>
		<script type="text/javascript" src="resources/scripts/app.js"></script>
		<script type="text/javascript" src="resources/scripts/controller/HomeController.js"></script>
		<script type="text/javascript" src="resources/scripts/controller/AdminController.js"></script>
		<script type="text/javascript" src="resources/scripts/controller/PostController.js"></script>
		<script type="text/javascript" src="resources/scripts/controller/ListPostController.js"></script>
		<script type="text/javascript" src="resources/scripts/controller/ListPageController.js"></script>
		<script type="text/javascript" src="resources/scripts/controller/ListUserController.js"></script>
		<script type="text/javascript" src="resources/scripts/controller/ABMPostController.js"></script>
		<script type="text/javascript" src="resources/scripts/controller/ABMPageController.js"></script>
		<script type="text/javascript" src="resources/scripts/controller/ABMMenuController.js"></script>
		<script type="text/javascript" src="resources/scripts/controller/ABMUserController.js"></script>
		<script type="text/javascript" src="resources/scripts/controller/ABMCommentController.js"></script>
		<script type="text/javascript" src="resources/scripts/service/PostService.js"></script>
		<script type="text/javascript" src="resources/scripts/service/PageService.js"></script>
		<script type="text/javascript" src="resources/scripts/service/MenuService.js"></script>
		<script type="text/javascript" src="resources/scripts/service/CommentService.js"></script>
		<script type="text/javascript" src="resources/scripts/service/UserService.js"></script>
		<script type="text/javascript" src="resources/scripts/filter/filters.js"></script>
		<script type="text/javascript" src="resources/scripts/directive/directives.js"></script>
		{% block additionalScripts %}{% endblock %}
	</body>
</html>