.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

p {
  line-height: 24px;
}

.post{
    text-align: justify;
    /*background-color: #FFFED0;*/
    width: 100%;
    padding: 20px;
    margin: 5px;
}

.comentario{
    text-align: justify;
}

.comentario .image img{
	border-radius: 50%;
	display: block;
	max-width: 100%;
	height: auto;
}

.comentario p{
	margin: 10px 0;
}

.comentarios-container ul{
	padding: 0px;
}

.comentarios-container ul li{
	margin: 30px 0;
  	list-style-type: none;
}

.comment-block{
	margin-left: 48px;
	margin-top: -15px;
}


#hero {
  /*background-color: #80B959;*/
  padding: 55px 0;
  min-height: 200px;
  padding-bottom: 1em;
  position: relative;
}

.light-typo {
  color: #fff;
}

#hero #cover-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  -ms-animation-delay: 0.15s;
  animation-delay: 0.15s;
  transform: translateZ(0);
  margin-top: -18px;
}

#hero div .middle-text {
  text-align: center;
  position: relative;
 /* display: table-cell; */
  vertical-align: middle;
}

#hero h1 {
  font-size: 45px;
  font-weight: 300;
}

#hero h2 {
  font-family: "Merriweather", georgia, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
}

.image-bg {
  background-image: url('../images/bg.jpg');
}

.welcome-content {
  min-height: 200px;
}

.sidebar-menu{
	background-color: #191918;
	font-size: 13px;
	width: 250px;
/* 	margin-top: -20px; */
	float: left;
	height: 100%;
}

.sidebar-menu ul{
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;	
}

.sidebar-menu li:hover{
/*   opacity: 0.5;	 */
  background-color: #FF8627
}

.sidebar-menu li a:hover{
  color: #fff;
}

.sidebar-menu a{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  height: 50px;
  line-height: 53px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding-left: 10px;
  text-decoration: none;
  box-sizing: border-box;	
  color: #999999;
}

.sidebar-menu a:before {
  position: relative;
  top: 8px;
  margin: 0 10px 0 11px;
}
	
.sidebar-menu a.selected{
  color: #ffffff;
}

.sidebar-menu-container{
	opacity: 1;
	background-color: #191918;
}

.main-page{
	float: left;
	height: 100%;
	width: 80%;
	padding-left: 30px;
	padding-top: 25px;
}

html, body{
	height: 100%;
}

.widewrapper.copyright {
  background-color: #37424c;
  color: #7b8690;
  padding-top: 15px;
  padding-bottom: 15px;
}

.widewrapper.masthead {
  background-color: #242b32;
  color: #f8f8f9;
}

.masthead {
  padding-top: 55px;
  padding-bottom: 55px;
}

#mobile-nav-toggle {
  display: none;
  margin-top: 10px;
}

.widewrapper.subheader {
  background-color: #37424c;
  color: #7b8690;
  font-size: 16px;
  min-height: 63px;
}

.tales-breadcrumb {
  color: #7b8690;
  float: left;
  margin-top: 19px;
}

.tales-searchbox {
  float: right;
  display: inline-block;
  min-width: 210px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.tales-nav .nav-pills > .active > a {
  background-color: #37424c;
}

.tales-nav .nav-pills > li > a {
  color: #f8f8f9;
  padding: 11px 16px;
  line-height: 14px;
}

.navbar-brand, .navbar-nav>li>a {
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

.tales-searchbox .searchfield {
  border: none;
  height: 22px;
  line-height: 22px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 5px 6px 4px 6px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 0;
  width: 160px;
  font-size: 16px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-right-radius: 15px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  margin-left: -4px;
  outline: none;
}

.tales-searchbox .searchbutton, .tales-searchbox .searchfield {
  color: #7b8690;
  background-color: #242b32;
}

.tales-searchbox .fa {
  color: #7b8690;
  font-size: 19px;
}

.tales-breadcrumb a {
  color: #7b8690;
}

.tales-searchbox .searchbutton {
  display: inline-block;
  border: none;
  line-height: 20px;
  padding: 4px 5px 4px 15px;
  height: 31px;
  vertical-align: middle;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-left-radius: 15px;
}

.tales-searchbox .searchbutton, .tales-searchbox .searchfield {
  color: #7b8690;
  background-color: #242b32;
}

    
 ::selection {
  background: #566572;
  color: #feffff;
}

.blog-teaser {
  background-color: #ececec;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 5px #a8a8a8;
  -moz-box-shadow: 0px 1px 5px #a8a8a8;
  box-shadow: 0px 1px 5px #a8a8a8;
  margin-bottom: 40px;
}

.blog-main {
  padding-top: 36px;
  padding-bottom: 20px;
  min-height: 500px;
}

#authenty_preview > section {
  min-height: 1024px;
  background-position: center center;
  background-size: cover;
}

.authenty.signin-main {
  background-color: #eaeaea;
}

.authenty {
  font-family: 'Open Sans', sans-serif;
  background-color: #eaeaea;
}

.authenty.signin-main .form-header {
  padding: 20px 0;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
}

.section-content {
  overflow: hidden;
  padding: 20px;
}

.authenty.signin-main .wrap {
/*   padding-top: 80px; */
}

.authenty .wrap {
  width: 100%;
}

.authenty {
  font-family: 'Open Sans', sans-serif;
  background-color: #eaeaea;
}

.authenty.signin-main .form-wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}

.authenty.signin-main .title {
  text-align: center;
  margin-bottom: 70px;
}

.authenty.signin-main .form-header .fa-user {
  font-size: 50px;
  color: #fff;
  border-radius: 50%;
  border: 3px solid #E7E7E7;
  padding: 15px 20px;
  background: #f6f8f9;
  background: -moz-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f6f8f9), color-stop(50%, #e5ebee), color-stop(51%, #d7dee3), color-stop(100%, #f5f7f9));
  background: -webkit-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background: -o-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background: -ms-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background: linear-gradient(135deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 );
}

.authenty.signin-main .form-main {
  background-color: #505050;
  padding: 40px 50px;
}

.authenty.signin-main input[type="text"], .authenty.signin-main input[type="password"] {
  background-color: #404040;
  padding-left: 20px;
  border-radius: 0;
  border: none;
  margin-bottom: 10px;
  color: #ccc;
  height: 43px;
}

.authenty .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.authenty.signin-main .signin {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FF8627;
  color: #fff;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.authenty.signin-main .form-footer {
  background-color: #404040;
  padding: 20px 50px;
}


.authenty.signin-main .form-footer .fa-unlock-alt {
  font-size: 10pt;
  color: #6f6f6f;
  border-radius: 50%;
  background-color: #505050;
  padding: 5px 8px;
  margin-right: 7px;
}

.authenty.signin-main .form-footer a {
  color: #999;
  font-size: 10pt;
}

.authenty.signin-main .form-footer .fa-check {
  font-size: 10pt;
  color: #6f6f6f;
  border-radius: 50%;
  background-color: #505050;
  padding: 5px;
  margin-right: 7px;
}

.authenty.signin-main .title h1 {
  font-size: 40pt;
}

.authenty h1 {
  font-weight: 700;
  letter-spacing: -1px;
}

.authenty h1, .authenty h2, .authenty h3, .authenty h4, .authenty h5, .authenty h6 {
  font-weight: 400;
}

.h5 {
  font-size: 14px;
}

.archivo-tree, .archivo-tree ul li {
  list-style: none;
}

.navbar .nav > li{
	background-color: #37424c;
}

.navbar ul{
	border: 1px solid transparent;
	border-radius: 4px;
}

.navbar-inverse {
  background-color: #242b32 !important;
  border-color: #242b32 !important;
}

.breadcrumb{
	background-color: transparent !important;
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 0;
}

.sidebar-box h4 {
  font-size: 14px;
  font-weight: 700;
  color: #444;
  text-transform: uppercase;
}

#footer {
  background: #111;
  font-size: 0.9em;
  padding: 80px 0 0;
  position: relative;
  clear: both;
}

.margin30 {
  margin-bottom: 30px;
}

.footer-col h3 {
  color: #fff;
  margin-bottom: 35px;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 300;
  font-style: normal;
}

#footer p {
  color: #555;
  line-height: 24px;
  margin: 0 0 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.social-1 {
  margin: 0;
  padding: 0;
}

.social-1 li {
  padding: 0px;
}

#footer a {
  color: #333;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.social-1 li a i {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.social-1 li a i.fa-facebook {
  background-color: #3b5998;
}

.social-1 li a i.fa-twitter {
  background-color: #0084b4;
}

.social-1 li a i.fa-google-plus {
  background-color: #C63D2D;
}

.social-1 li a i.fa-pinterest {
  background-color: #cb2027;
}

.social-1 li a i.fa-dribbble {
  background-color: #ea4c89;
}

.contact p {
  margin-bottom: 10px;
}

.contact strong {
  margin-right: 10px;
  font-weight: bold;
}

.contact a {
  color: #777;
}

.footer-btm {
  margin-top: 30px;
  padding: 20px;
  background-color: #0c0c0c;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.btn-theme-dark {
  background-color: #333;
  color: #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

#footer .form-control{
	border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 12px;
  color: #7a7a7a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: #FFF;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.subscribe-form .form-control {
  height: 46px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.wrapper-admin>.aside {
  height: 1px;
  min-height: 100%;
}

.wrapper-admin>aside {
  position: fixed;
}

.wrapper-admin>.aside {
  position: absolute;
  width: 220px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 110;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
/*   background-color: #fff; */
}

.wrapper-admin>.aside>.aside-inner {
  position: fixed;
  top: 0;
  bottom: 0;
}

.wrapper-admin>.aside .aside-inner {
  padding-top: 80px;
  height: 100%;
  width: 220px;
  overflow: hidden;
}

.wrapper-admin>footer, .wrapper-admin>section {
  margin-left: 220px;
/*   background-color: #f3f3f4; */
}

.wrapper-admin>footer{
  clear: both;	
}

@media only screen and (min-width:768px)
.content-wrapper {
  padding: 20px;
}

.content-wrapper {
  padding: 15px;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,.15);
  margin-top: -1px;
}

.aside-inner ul li {
  padding: 0px 15px;
}

h2.title{
	font-size: 24px;
	font-weight: 100;
}

.authenty.signup-window .normal-signup .signup:hover {
  background-color: #5B910C;
}

.authenty.signup-window .normal-signup .signup {
  padding: 8px 15px;
  background-color: #78B310;
  color: #fff;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.authenty.signup-window input[type="text"], .authenty.signup-window input[type="password"], .authenty.signup-window input[type="email"] {
  background: none;
  border: none;
  border-bottom: 1px solid #505050;
  box-shadow: none;
  padding: 10px 0 10px 10px;
  border-radius: 0;
  margin-bottom: 20px;
  color: #ccc;
}

.normal-signup{
	margin-top: 20px;
}

#account{
	padding: 70px;
}

.divide80 {
  width: 100%;
  height: 80px;
}

.center-heading {
  text-align: center;
  margin-bottom: 40px;
}

.center-heading h2 {
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  font-size: 30px;
}

.center-line {
  display: inline-block;
  width: 70px;
  height: 1px;
  border-top: 1px solid #bbb;
  /* border-bottom: 1px solid $skincolor; */
  margin: auto;
}

.center-heading p {
  margin-top: 10px;
}

.center-heading p {
  font-size: 18px;
}

