<!-- MENU -->
<div class="wrapper-admin">
	<aside class="aside sidebar-menu">
		<div class="aside-inner">
			<ul>
				<li><a href="#/home" class="selected">Inicio</a></li>
				<li><a href="#/admin/post">Posts</a></li>
				<li><a href="#/admin/page">P&aacute;ginas</a></li>
				<li><a href="#/admin/comment">Comentarios</a></li>
				<li><a href="#/admin/user">Usuarios</a></li>
				<li><a href="#/admin/menu">Apariencia</a></li>
				<li><a href="#">Ajustes</a></li>
			</ul>
			s
		</div>
	</aside>

	<!-- main page -->
	<section>
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-10">
				<h2 class="title">{%verbatim%}{{ title }}{%endverbatim%}</h2>
			</div>
			<div class="col-lg-2"></div>
		</div>
		<div class="content-wrapper">{% block main_admin %}{% endblock %}</div>
	</section>

	<footer>
		<span>© 2015 - LatinCMS</span>
	</footer>
</div>