	<!-- MENU -->
<div class="sidebar-menu">
	<div class="sidebar-menu-container">
		<ul>
			<li><a href="#/home" class="selected">Inicio</a></li>
			<li><a href="#/admin/abm/post">Posts</a></li>
			<li><a href="#/admin/abm/page">P&aacute;ginas</a></li>
			<li><a href="#/admin/abm/comentarios">Comentarios</a></li>
			<li><a href="#">Usuarios</a></li>
			<li><a href="#/admin/abm/menu">Apariencia</a></li>
			<li><a href="#">Ajustes</a></li>
		</ul>s
	</div>
</div>

	<!-- main page -->
	<div class="main-page lateral-slide-menu-main-page">
{# 		<a href="" class="toggle-menu" lateral-slide-menu-toggle></a>#}
		{% block main_admin %}{% endblock %}
	</div>
