{% extends "templates/scaffolding.twig" %}

{% block content %}
<div class="container">
<h1>Hola {% verbatim %}{{nombre}}{% endverbatim %}</h1><br />
<input type="text" ng-model="nombre"></input>
</div>
{% endblock %}