<!DOCTYPE html>
<html>
	<head>
		<title>LatinCMS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="content-language" content="es">
		<meta name="robots" content="INDEX, FOLLOW">
		
		<link rel="stylesheet" href="resources/stylesheets/styles.css" media="screen">
		<link rel="stylesheet" href="resources/stylesheets/bootstrap.min.css" media="screen">
		<link rel="stylesheet" href="resources/stylesheets/font-awesome.min.css" media="screen">
		</head>

	<body>
	
			<section id="signin_main" class="authenty signin-main" style="height: 100%;">
				<div class="section-content">
				  <div class="wrap">
					  <div class="container">	  
							<div class="form-wrap">
								<div class="row">
								  <div class="title animated fadeInDown" data-animation="fadeInDown" data-animation-delay=".8s" style="-webkit-animation-delay: 0.8s;">
									  <h1>LatinCMS</h1>
									  <h5>Administraci&oacute;n de Contenidos</h5>
								  </div>
									<div id="form_1" data-animation="bounceIn" class="animated bounceIn">
										<div class="form-header">
										  <i class="fa fa-user"></i>
									  </div>
									  <div class="form-main">
									  	<form method="post" action="login">		
											<div class="form-group">
								  				<input type="text" id="un_1" class="form-control" placeholder="Username" required="required" name="username">
												<input type="password" id="pw_1" class="form-control" placeholder="Password" required="required" name="password">
										  	</div>
									    	<button id="signIn_1" type="submit" class="btn btn-block signin">Ingresar</button>
									 	</form>
									  </div>
										<div class="form-footer">
											<div class="row">
												<div class="col-xs-7">
													<i class="fa fa-unlock-alt"></i>
													<a href="#password_recovery" id="forgot_from_1">Olvid&oacute; su contrase&ntilde;a?</a>
												</div>
												<div class="col-xs-5">
													<i class="fa fa-check"></i>
													<a href="#signup_window" id="signup_from_1">Registrarse</a>
												</div>
											</div>
										</div>		
								  </div>
								</div>
							</div>
					  </div>
				  </div>
				</div>
			</section>
	</body>
</html>